connection:
  kanboard:
    # user name, jsonrpc is the special username that can be used with API token, regular user accounts should work fine too
    user: 'jsonrpc'
    # for jsonrpc you can find this in your kanboard at /settings/api, otherwise it's user's password
    pw: ''
    # where your kanboard lives
    url: 'http://172.17.0.2/'

kanboard:
  project_id: 1

github:
  username: email@of.user.com
  password: Pa$$word

# Bugzilla api_key can be generated in Bugzilla Account Menu (top right) > Preferences > API Keys tab
# https://bugzilla.redhat.com/userprefs.cgi?tab=apikey

bugzilla:
  api_key: youR4aPi2key424OIJ2bhJ

# default log level is debug, you can change it to info, warn, error, fatal
# logger_level: debug

# if whitelist is specified, only listed tasks will be executed
# if no whitelist is specified, all tasks will be executed
whitelist:
  - 050-sync_github_tags
  - 070-sync_redmine_link_from_github
  - 100-sync_bz_link_from_redmine
  - 150-set_assignee_according_to_redmine
  - 200-set_column_according_to_redmine
  - 400-sync_bz_bugs_to_triage

# you can further limit what tasks will not be executed by blacklist
# if whitelist was specified, tasks can be explicitly ignored by blacklist
# blacklist overrides whitelist
blacklist: []

configuration:
  backlog_swimlane_name: "Current iteration (40)"
  050-sync_github_tags:
    tags_map:
      Demo worthy: 'needs_demo'
      Waiting on contributor: 'waiting_on_contributor'
    sync_tags:
      - waiting_on_contributor
      - needs_demo
      - needs_rebase
    auto_remove_tags:
      - waiting_on_contributor
      - needs_rebase
  070-sync_redmine_link_from_github: {}
  100-sync_bz_link_from_redmine: {}
  150-set_assignee_according_to_redmine:
    # redmine user name: kanboard user name
    map:
      Marek Hulán: Marek Hulan
  200-set_column_according_to_redmine:
    map:
      # kanboard column: redmine state id, see task 200 for ids meanings
      Backlog: [1, 2, 9, 11, 8]
      Review: [7]
      Done: [4, 5]
    blockers:
      # don't move tasks to review column if it has tag woc or it must be rebased or if it's already in done column
      Review:
        tag: ['waiting_on_contributor', 'needs_rebase']
        column: ['Done']
      # never move task to backlog automatically, once it's already in progress
      Backlog:
        column: ['Work in progress']
  600-sync_bz_bugs_to_triage:
    color: 'amber'
    tag: 'Triage'
    done_column: 'Done'
    bz_filter:
      component: 'Hammer'
